argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
Deprecated==1.3.1
distro==1.9.0
Django==4.2.27
docker==7.1.0
gunicorn==23.0.0
idna==3.11
netaddr==1.3.0
ngrok==1.4.0
packaging==25.0
pycparser==2.23
requests==2.32.5
sqlparse==0.5.4
typing_extensions==4.15.0
urllib3==2.6.2
wrapt==2.0.1
yookassa==3.9.0
djangorestframework
