<!DOCTYPE html>
<html>
<head>
    <title>Публичная оферта</title>
</head>
<body>
    <h1>Договор публичной оферты</h1>
    <p>Интернет-магазин Minishops предлагает заключить договор купли-продажи товаров.</p>
    <p>1. Цены указаны в рублях.</p>
    <p>2. Оплата через ЮKassa.</p>
    <p>3. Возврат в течение 14 дней.</p>
    <p>4. Контакты: artemijpopkov6@gmail.com</p>
    <p>5. Все товары вымышлены и не будут предоставлены при покупке</p>
    <footer>
        <p>ИНН: 231151169943</p>
        <!-- остальные ссылки -->
    </footer>
</body>
</html>